
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-position: center;
    min-height: 100vh; 
    overflow: hidden; 
}

body {
    background-image: radial-gradient(circle at 2px 2px, rgba(0, 0, 0, 0.443) 2px, transparent 0);
    background-size: 30px 30px;
    background-repeat: repeat;
    background-attachment: fixed;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-left {
    font-family: "Lexend Deca", serif;
    font-optical-sizing: auto;
    margin: 0;
    font-weight: 600;
    font-size: 26px;
    padding-left: 20px;
    flex-grow: 1; 
}

.text-container {
    margin-bottom: 20px; 
    text-align: left; 
    width: 100%; 
}

.button-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    width: 100%; 
    padding: 20px;
    background-color: #ffffff;
    gap: 10px; 
}

.titulo {
    font-family: "Lexend Deca", serif;
    font-weight: 600;
    font-size: 26px;
    margin: 0;
}

.parrafo {
    font-family: "Lexend Deca", serif;
    color: #5a5a5a;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
}

.dropbtn {
    font-family: "Lexend Deca", serif;
    font-optical-sizing: auto;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    padding-left: 20px;
    flex-grow: 1; 
    background: transparent;
    color: #fff;
}

.navbar-right .dropdown {
    position: relative;
    display: inline-block;

}

.navbar-right .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: "Lexend Deca", serif;
    color: #5a5a5a;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
}

.navbar-right .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navbar-right .dropdown:hover .dropdown-content {
    display: block;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    padding: 10px 20px;
    background-color: #ffffff;
    margin-top: 160px; 
    margin-left: 20%; 
    margin-right: 20%; 
    width: auto;
    height: auto; 
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.btn {
    padding: 10px 20px; 
    font-size: 14px; 
    background-color: #0077F7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%; 
}

button {
  background: #fff;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  width: 120px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(1deg);
}

span {
  display: inline-block;
  transform: skew(1deg);
}

button::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: rgb(20, 20, 20);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

button:hover {
  color: #fff;
}

button:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
  border-radius: 5px;
}
