<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artefactos UML</title>
    <link rel="stylesheet" href="menu-principal.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">Artefactos UML</div>
        <div class="navbar-right">
            <div class="dropdown">
                <button class="dropbtn">Proyectos</button>
                <div class="dropdown-content">
                    <a href="#">Proyecto 1</a>
                    <a href="#">Proyecto 2</a>
                    <a href="#">Proyecto 3</a>
                </div>
            </div>
        </div>
    </nav>

   
    <div class="main-content">
        
        <div class="text-container">
            <h1 class="titulo">Crear Nuevo Proyecto</h1>
            <button class="btn">Crear</button>
            <br>
            <h1 class="titulo">Creacion de diagramas UML</h1>
            <p class="parrafo">Seleccione un artefacto para comenzar a construir</p>
        </div>
        <div class="button-container">
            
            <button class="btn"(click)="iraClases()"><span>D. Clases</span></button>
            <button class="btn" (click)="iraSecuencias()"><span>D. Secuencia</span></button>
            <button class="btn" (click)="iraComponentes()"><span>D. Componentes</span></button>
            <button class="btn" (click)="iraPaquetes()"><span>D. Paquetes</span></button>
            <button class="btn" (click)="iraCU()"><span>D. Casos de uso</span></button>
        </div>
    </div>
</body>

</html>
