<app-navbar></app-navbar>
<div class="container">
  <div #paletteDiv class="palette"></div>
  <div #diagramDiv class="diagram"></div>
 
</div>  
<div class="botonesDiagrama">
  <button (click)="volver()">Volver</button>
  <button (click)="guardarDiagrama()">Guardar Diagrama</button>
  <button (click)="guardarNuevaVersion()">Guardar Nueva Version</button>
  <button (click)="cargarDiagrama()">Cargar Diagrama</button>
  <button (click)="guardarComoImagen(diagram)">Guardar PDF</button>
  <select name="versiones" id="versiones" (change)="cargarVersion($event)">
    @if (versiones && versiones.length > 0){
        @for(version of versiones; track $index){
            <option value={{version.id_version}}  [selected]="version.id_version == versiones[0]?.id_version">{{ version.version }}</option>
        }
    }
</select>
</div>