<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Proyectos</title>
    <link rel="stylesheet" href="menu-proyectos.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-content">
        <div class="text-container">
            <h1 class="titulo">Mis Proyectos</h1>
            <button class="btn" (click)="getProyectos()">Crear Nuevo Proyecto</button>
            <br>
            <h1 class="titulo">Creacion de diagramas UML</h1>
            <p class="parrafo">Seleccione un artefacto para comenzar a construir</p>
            @if (proyectos){
                @for (proyecto of proyectos; track $index){
                    <p>Nombre{{proyecto.nombre}}</p>
                    <p>Descripcion{{proyecto.descripcion}}</p>
                }
            }
        </div>
        <div class="button-container">
        </div>
    </div>
</body>
</html>