<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artefactos UML</title>
    <link rel="stylesheet" href="uml-casos-uso.component.css"> <!-- Link to external CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>

    <app-navbar></app-navbar>
    <h1>Diagrama de Casos de Uso</h1>
    <!-- Wrapper for Diagrams -->
    <div class="diagram-container">
        <div id="myPaletteDiv"></div>
        <div id="myDiagramDiv"></div>
    </div>

    <!-- Buttons Below -->
    <div class="button-container">
        <button (click)="extensionAsociacion()">Extensión</button>
        <button (click)="inclusionAsociacion()">Inclusión</button>
        <button (click)="asociacion()">Asociación</button>
        <button (click)="guardarDiagrama()">Guardar Diagrama</button>
        <button (click)="guardarNuevaVersion()">Guardar Nueva Version</button>
        <button (click)="cargarDiagrama()">Cargar Diagrama</button>
        <button (click)="eliminarElemento()">Eliminar Elemento</button>
        <button (click)="guardarComoImagen(diagram)">Guardar PDF</button>
        <select name="versiones" id="versiones" (change)="cargarVersion($event)">
            @if (versiones && versiones.length > 0){
                @for(version of versiones; track $index){
                    <option value={{version.id_version}}  [selected]="version.id_version == versiones[0]?.id_version">{{ version.version }}</option>
                }
            }
        </select>
    </div>
</body>
</html>
