
<div id="myPaletteDiv" style="width: 200px; height: 800px; border: 1px solid black; float: left;"></div>
<div id="myDiagramDiv" style="width: 1500px; height: 800px; border: 1px solid black; float: left;"></div>
<button (click)="guardarDiagrama()">Guardar Diagrama</button>
<br>
<button (click)="cargarDiagrama()">Cargar Diagrama</button>
<br>
<button (click)="eliminarElemento()">Eliminar</button>
<br>
<button (click)="guardarComoImagen(diagram)">Guardar PDF</button>
<br>
<button (click)="extensionAsociacion()">Extensión</button>
<br>
<button (click)="inclusionAsociacion()">Inclusión</button>
<br>
<button (click)="asociacion()">Asociación</button>