<nav class="navbar">
    <div class="navbar-left"><a href="/diagramas">Artefactos UML</a></div>
    <div class="navbar-right">
        <div class="dropdown">
            <button class="dropbtn">Artefactos UML</button>
            <div class="dropdown-content">
                <a href="#">Diagrama de Clases</a>
                <a href="#">Diagrama de Paquetes</a>
                <a href="#">Diagrama de Componentes</a>
                <a href="#">Diagrama de Secuencias</a>
                <a href="#">Diagrama de Casos de Uso</a>
            </div>
        </div>
    </div>
</nav>